{% extends "layout.html" %} {% block content %}

<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io">
			<img src="{{ url_for('static', filename='imgs/logo.svg')}}" width="60" height="100" />
		</a>

		<a
			role="button"
			class="navbar-burger burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarBasicExample"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item">
				Home
			</a>

			<a class="navbar-item">
				Some Link
			</a>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a href="/logout" class="button is-light">
						Log Out
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>

<section class="section">
	<div class="container">
		<h1>Welcome to Frapp!</h1>
	</div>
		{%endblock%}
	</div>
</section>
