<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Face Recognition App</title>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" />
	</head>
	<body>
		{% block content %} {% endblock %}
	</body>
</html>
