{% extends "layout.html" %} {% block content %}
<section class="hero is-primary is-fullheight">
	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-5-tablet is-4-desktop is-3-widescreen">
					<form action="{{ url_for('login') }}" method="post" class="box">
						{{ form.csrf_token }}
						<div class="field">
							<label for="" class="label">Email</label>
							<div class="control">
								<input
									type="email"
									name="email"
									placeholder="e.g. bobsmith@gmail.com"
									class="input"
									required
								/>
							</div>
						</div>
						<div class="field">
							<label for="" class="label">Password</label>
							<div class="control">
								<input name="password" type="password" placeholder="*******" class="input" required />
							</div>
						</div>
						<div class="field">
							<button type="submit" name="Sign in" class="button is-success">
								Login
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
